Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
"""
A database is an organized collection of structured data that is stored and accessed electronically. 
It is designed to efficiently manage, store, and retrieve large amounts of information. 
Databases provide a way to store data in a structured manner, allowing for easy manipulation 
and retrieval of specific data elements.


SQL :- SQL databases are based on a relational data model and use SQL as the standard language for 
       defining, manipulating, and querying data. They have predefined schemas that enforce a specific 
       structure for the data, with tables, rows, and columns.They are suitable for applications 
       that require structured and well-defined data, such as financial systems, e-commerce platforms, 
       and traditional enterprise applications.

NoSQL :- NoSQL databases are designed to handle large-scale, unstructured, and rapidly changing data. 
         They provide flexible schemas that allow for the storage of various data types, such as 
         key-value pairs, documents, graphs, or wide-column stores. NoSQL databases prioritize 
         scalability, high performance, and availability over strong consistency. They are commonly used 
         in modern web applications, big data analytics, content management systems, and real-time data 
         processing scenarios.
"""

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
"""
DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used 
to define and manage the structure of a database. DDL statements are responsible for creating, 
altering, and deleting database objects such as tables, indexes, views, and schemas.
"""

# CREATE :- The CREATE statement is used to create new database objects.

CREATE TABLE Employees (
  EmployeeID INT PRIMARY KEY,
  FirstName VARCHAR(50),
  LastName VARCHAR(50),
  Age INT
);

# DROP :- The DROP statement is used to delete an existing database object.

DROP TABLE Employees;

# ALTER :-  The ALTER statement is used to modify the structure of an existing database object.

ALTER TABLE Employees
ADD Salary DECIMAL(10,2);

# TRUNCATE :- The TRUNCATE statement is used to delete all the data from a table while keeping its structure intact.

TRUNCATE TABLE Employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
"""
DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to 
manipulate and modify the data within a database. DML statements are responsible for inserting, updating, 
and deleting data in database tables.
"""

# INSERT :- The INSERT statement is used to add new rows of data into a table.

INSERT INTO Employees (EmployeeID, FirstName, LastName, Age)
VALUES (1, 'John', 'Doe', 30);

# UPDATE :- The UPDATE statement is used to modify existing data in a table.

UPDATE Employees
SET Age = 31
WHERE EmployeeID = 1;

# DELETE :- The DELETE statement is used to remove one or more rows from a table based on a specified condition.

DELETE FROM Employees
WHERE EmployeeID = 1;

Q4. What is DQL? Explain SELECT with an example.

In [ ]:
"""
DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used to 
retrieve data from a database. DQL statements are focused on querying and retrieving information from 
database tables without modifying the data.
"""

# SELECT :- SELECT allows you to retrieve specific columns or entire rows from one or more tables based on specified criteria.

SELECT * FROM Employees;

Q5. Explain Primary Key and Foreign Key.

In [ ]:
"""
Primary Key:
In a database table, a primary key is a column or a combination of columns that uniquely identifies each row. 
It serves as a unique identifier for the records in the table, ensuring that no two rows have the same key value. 
The primary key provides a way to identify and access individual rows efficiently. It enforces data integrity 
and serves as a basis for establishing relationships with other tables in the database.

Foreign Key:
A foreign key is a column or a combination of columns in a table that establishes a link or relationship with 
the primary key of another table. It defines a dependency between two tables, where the values in the foreign 
key column(s) of one table correspond to the values in the primary key column(s) of another table. This 
relationship allows for data consistency and integrity across related tables. The foreign key constraint ensures
that the referenced values exist in the primary key column of the associated table, enforcing referential integrity
and maintaining the relational structure of the database.
"""

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Connect to MySQL
mydb = mysql.connector.connect(
  host="localhost",
  user="your_username",
  password="your_password",
  database="your_database"
)

# Create a cursor object
cursor = mydb.cursor()

# Execute a SQL query
cursor.execute("SELECT * FROM your_table")

# Fetch all rows from the result
rows = cursor.fetchall()

# Iterate through the rows and print the data
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
mydb.close()